
:root{
  --background-color: rgb(242, 241, 241);
  --navbar-color: white;
  --icon-color: black;
  --first-text-color: black;
  --second-text-color: rgb(85, 85, 85);
  --box-background-color: white;
  --box-border-color: rgb(53, 53, 53);
  --input-color: rgb(242, 241, 241);
  --navlinks-hamburger-color: #dadada;
  
}

.dark-mode {
  --background-color: #545454;
  --navbar-color: #393939;
  --icon-color: white;
  --first-text-color: white;
  --second-text-color: rgb(203, 203, 203);
  --box-background-color: #393939;
  --box-border-color: rgb(203, 203, 203);
  --input-color: rgb(37, 37, 37);
  --navlinks-hamburger-color: #393939;
}

body{
  background-color: var(--background-color);
}

html{
  scroll-behavior: smooth;
}

p{
  color: var(--second-text-color);
}

h1{
  color: var(--first-text-color);
}

h2{
  color: var(--first-text-color);
}

/********** SCROLL BAR START ************/

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #D9D9D9;
}

::-webkit-scrollbar-thumb {
  background: #424242;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

/********** SCROLL BAR END ************/
