.about-main-container{
    /* height: 100vh; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* background-color: rgb(242, 241, 241); */
    /* padding-bottom: 100px; */
    padding-top: 120px;
}

.about-title{
    text-align: center;
    font-size: 40px;
    /* margin-top: 50px; */
}

.about-small-title{
    font-size: 16px;
    text-align: center;
}

.about-image-container{
    height: 350px;
    width: 350px;
    /* width: 50%; */
    /* box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5); */
}

.about-image{
    /* prvo se na kontejner stavi height i width pa onda se stavi ovde da uzima maksimum od njega */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.about-container{
    display: flex;
    gap: 36px;
    justify-content: space-around;
    /* height: 80%; */
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 60px;
}

.details-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.detail-title{
    font-size: 22px;
    font-weight: 600;
    color: var(--first-text-color);
}

.detail-text{
    font-size: 16px;
    color: var(--second-text-color);
}

#text-degree{
    font-weight: 600;
    color: var(--first-text-color);
}

.intern-gh-container{
    display: flex;
    gap: 12px;
    font-weight: 500;
    color: var(--first-text-color);
    justify-content: center;
    margin-top: 8px;
    align-items: center;
}

.github-intern-icon{
    font-size: 30px;
    /* margin: auto; */
    cursor: pointer;
}

.text-title-experience{
    color: var(--first-text-color);
    font-size: 22px;
    font-weight: 500;
}

/*

Chat gpt odgovor, kod flex items-a, svi prate visinu najveceg ukoliko nije zadata

Since you're using display: flex on the parent container .details-container, the flex items (.detail-container) will stretch to match the height of the tallest item by default. This behavior is known as equal height columns in a flex container.

If one element has more content and extends its height, the other elements will also stretch to match the height of the tallest element within the flex container. This ensures that the layout remains consistent and aligned.
*/

.detail-container{
    border: 2px solid var(--box-border-color);
    border-radius: 20px;
    padding: 1.5rem;
    width: 360px;
    /* flex: 1;  */
    /* da budu jednaki oba !! */
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--box-background-color);
}

.about-details-container{
    /* justify-content: center; */
    /* width: 65%;   */
}

.fa-icon{
    font-size: 30px;
    color: var(--icon-color);
}

.text-details-container{
    margin-top: 60px;
    font-size: 15px;
    color: var(--first-text-color);
}

.bitbucket-container{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.frontent-container, .backend-container{
    color: var(--icon-color);
    font-weight: 500;
}

.fa-bitbucket{
    font-size: 28px;
    margin-left: 6px;
}

.fa-bitbucket:hover{
    cursor: pointer;
}

.frontent-container, .backend-container{
    display: flex;
    /* margin: auto; */
}

/* mobile apps */
@media(max-width: 1200px){
    .details-container{
        flex-wrap: wrap;
        justify-content: center;
    }
   
}

@media(max-width: 900px){
    .about-container{
        display: flex;
        flex-direction: column;
    }
    .about-details-container{
        /* display: flex;
        flex-direction: column; */
        width: 100%;
    }
    .details-container{
        /* display: flex;
        flex-direction: column; */
        /* justify-content: center; */
    }
    .about-image-container{
        width: 100%;
        height: 100%;
    }
    .frontent-container, .backend-container{
        flex-direction: column;
        
        justify-content: left;
    }
    .fa-bitbucket{
        margin: 0; /* zato sto je bio margin-left: 4px za desktop screen size */
    }
    .text-details-container{
        font-size: 16px;
    }
}