/* nesto je vec nasledjeno iz NavbarComponent.css */


.footer-main-container{
    /* background-color: rgb(242, 241, 241); */
}

.nav-ul{
    justify-content: center;
}

.icons-container{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 6px;
}

.github-icon, .linkedin-icon{
    font-size: 36px;
}

.text-footer{
    margin-top: 10px;
    text-align: center;
    color: var(--second-text-color);
    padding-bottom: 14px;
}

@media(max-width: 900px){
    .nav-ul{
        text-align: center;
    }
    .text-footer{
        margin-top: 10px;
        padding-top: 16px;
        font-size: 14px;
    }
}