/* nesto je vec nasledjeno iz NavbarComponent.css */


.footer-main-container{
    background-color: rgb(242, 241, 241);
}

.nav-ul{
    justify-content: center;
}

.icons-container{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 6px;
}

.github-icon, .linkedin-icon{
    font-size: 36px;
}

.text-footer{
    margin-top: 6px;
    text-align: center;
    color: grey;
    padding-bottom: 12px;
}

@media(max-width: 900px){
    .nav-ul{
        text-align: center;
    }
}